.logo{
    max-height: 60%;
    margin-right: 10px;
    margin-left: 20px;
}

.profile{
    position: absolute;
    right: 0;
    margin-right: 40px;
    width: 140px;
    color: #673AB7;
}

.profile-menu{
    width: 140px;
    font-weight: 500;
    color: #673AB7;
}