.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.grid-container {
  margin: 20px;
}

.category-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  box-shadow: inset 0px 0px 300px rgba(0,0,0,0.3);
}

.category-title{
  color: white;
  }
