.cart{
    margin: 20px
}

.cart-title{
    display: flex;
    align-items: center;
}

.item-cart-image{
    max-height: 40px;
    max-width: 40px;
    margin-right: 5px;
}

.item{
    min-height: 80px;
}

.purchase{
    width: 100%
}

.error{
    color: red;
    text-align: center;
    width: 100%;
}