.error{
    color: red;
    text-align: center;
    width: 100%;
}

.login-page{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('/assets/images/frames2.png') center/cover;
}

.login-card{
    width: 20%;
    min-width: 250px;
}

.login-card-header{
    flex-direction: column-reverse; 
    align-items: center;
    text-align: center;
}

.login-element{
    width: 100%;
}