<div class="login-page">
  <mat-card class="login-card">
    <mat-card-header class="login-card-header">
        <img mat-card-lg-image src="assets/images/wig.png">
        <mat-card-title>Welcome to Pangloss !</mat-card-title>
        <mat-card-subtitle class>Shopping where all is for the best in the best of all possible worlds</mat-card-subtitle>
    </mat-card-header>
    <div class="error" [hidden]=!hasErrors>{{errorMessage}}</div>
    <form>
      <mat-form-field class="login-element">
        <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
      </mat-form-field>
      <mat-form-field class="login-element">
        <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
      </mat-form-field>
      <button class="login-element" mat-raised-button (click)="login()" color="primary">Login</button>
    </form>
  </mat-card>
</div>