.item-header-image {
  background-image: url('/assets/images/consoles/icon.png');
  background-size: cover;
}

.item-card {
  height: 200px;
  width: 250px;
  text-align: center;
}

.items {
  margin-top: 15px;
}

.item-image {
  height: 150px;
  max-width: 200px;
  object-fit: contain;
  margin: auto;
  padding-top: 20px;
}